@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0); /* blanc */
  --primary: oklch(0.32 0.22 30); /* rouge vif, par exemple */
  --primary-foreground: oklch(0.985 0 0); /* texte blanc sur bouton rouge */
}

.dark {
  --background: oklch(1 0 0); /* blanc même en mode dark */
  --primary: oklch(0.32 0.22 30); /* rouge vif même en mode dark */
  --primary-foreground: oklch(0.985 0 0); /* texte blanc sur bouton rouge */
}




@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
